html,body{width: 100%; height: 100;}

#title {
    margin: 55px;
    text-align: center;
}

img{
    display: none;
}

.btnStart {
    margin-left: calc(50% - 58px);
}

.btnAgain{
    display: none;
    margin-top: 55px;
    margin-left: calc(50% - 58px);
}

.container {
    text-align: center;
    font-size: 100px;
}