<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<link rel=stylesheet href="components.css"/>
<title>JS bin</title>
</head>
<body>
    <div>
        <div class="post">
            <img class="thumbnail" alt="funny cat" src="ItsiEli.JPG">
            Eli and Itzi my boys Eli and Itzi my boys  Eli and Itzi my boys  Eli and Itzi my boys  Eli and Itzi my boys 
        </div>
        <div class="post">
            <img class="thumbnail" alt="funny cat" src="ItsiEli.JPG">
            Eli and Itzi my boys Eli and Itzi my boys  Eli and Itzi my boys  Eli and Itzi my boys  Eli and Itzi my boys
        </div>
        <div class="post">
            <img class="thumbnail" alt="funny cat" src="ItsiEli.JPG">
            Eli and Itzi my boys Eli and Itzi my boys  Eli and Itzi my boys  Eli and Itzi my boys  Eli and Itzi my boys
        </div>
        <div class="post">
            <img class="thumbnail" alt="funny cat" src="ItsiEli.JPG">
            Eli and Itzi my boys Eli and Itzi my boys  Eli and Itzi my boys  Eli and Itzi my boys  Eli and Itzi my boys
        </div>
    </div>
</body>
</html>