<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<link rel=stylesheet href="traning.css"/>
<title>JS bin</title>
</head>
<body>
<ul class= "menu horizontal">
    <li class="menu-item active">
        <a href="#">Home</a>
    </li><li class="menu-item">
        <a href="#">About</a>
    </li><li class="menu-item">
       <a href="#">Gallery</a>
    </li><li class="menu-item">
       <a href="#">Home</a>
    </li><li class="menu-item">
       <a href="#">About</a>
    </li><li class="menu-item">
       <a href="#">Gallery</a>
    </li><li class="menu-item">
       <a href="#">Home</a>
    </li>
</ul>
</body>
</html>