.box {
    display: flex;
    
}

.col {
    flex:1;
}

.b {
    order:2;
    background:  red;
}

.a {
    background: yellow;
}

.c {
    background: blue;
}

.d {
    background: purple;
}

.e {
    order: -1;
    background: green;
}

@media (max-width:600px) {
    .box {
        flex-direction: column;
    }
    
    .c {
        order: -5;
    }
}