html, body {
    height: 100%;
}
.box {
    display: flex;
    height: 100%;
    background: green;
    align-items: center;
    justify-content: center;
}

.col:nth-child(1) {
    background: red;
    height: 100px;
    width: 100px;
}
