img {
    width: 300px;
}

.slider-inner {
    width: 999999999999px;
    margin-left: -300px;
    transition: all 0.5s;
}

.slider {
    width: 300px;
    border: 2px solid blue;
    overflow: hidden;
    margin-left:calc(50% - 150px);
}

h1 {
    color: black;
    font-size: 100;
    text-align: center;
}