$blackClr:#090A0C;
$purpleClr:#662234;

body {
    display: grid;
    grid-template-areas: "header  header  header" "asideLeft main asideRight";
    margin: 0; 
}

.header {
    grid-area: header;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient($blackClr 0%, $purpleClr 10%, $blackClr 50%, $purpleClr, $blackClr 100%); 

    h1 {
        color: white;
        font-size: 4rem;
        font-family: 'Flavors', cursive; 
    }
}

.asideLeft {
    grid-area: asideLeft;
    height: 85vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $blackClr; 
    
    div:not(.h3) {
            display: flex;
            margin: 0.3rem;
            border: 1px solid;
            border-radius: 1rem;
            background-color: $purpleClr;
            border-color: $purpleClr; 
            
            &:hover {
                background-color: #381620 !important;
                border-color: #381620 !important; 
            }
    }

    div svg *:hover {
        stroke: white !important; 
    }

    div svg {
        width: 4.5em;
        height: 4.5em;
        border: 1px solid white;
        border-radius: 1rem; 
    }
}

.asideRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: asideRight;
    height: 85vh;
    width: 15vw;
    background-color: $blackClr;

    .formProperties {
            height: 100%; 

            label {
                color: white;
                background: $purpleClr;
                border-radius: 5px;
                font: 20px/normal sans-serif;
                height: calc(85vh/10);
                width: 96%; 
            }

            .inputsDiv {
                display: flex;
                flex-direction: column;
                align-items: center; 

                input[type="text"] + span::after {
                    content: ':'; 
                }

                input:not([type="color"]) {
                    width: 100%;
                    color: white;
                    background: $purpleClr;
                    border: $purpleClr;
                    border-radius: 5px;
                    font: 24px/normal sans-serif;
                    text-align: center; 
                }

                .dropdown {
                    width: 96%;
                    margin-bottom: .5rem; 
                    
                    .display {
                        display: block; 
                    }

                    .dropdown-menu {
                        text-align: center; 
                        &.fontSelector.display {
                            height: 300px;
                            overflow: auto; 

                            &* {
                                width: 100%; 
                            }
                        }
                    }
                }

                .dropdown, .dropDownBtn, .dropDownList {
                    width: 180px; 
                }

                label.color {
                    background: linear-gradient(45deg, red 0%, #ff0 17%, lime 33%, cyan 50%, blue 66%, #f0f 83%, red 100%);
                    border: 2px solid #1F2667;
                    border-radius: 5px;
                    color: #1F2667;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 3em;
                    position: relative; 

                    span {
                        position: absolute;
                        text-align: center;
                        width: 80%;
                        border-radius: 5px;
                        padding: 5px;
                        color: white;
                      }
                  }
            }

            .allSixSaveAndLoadButtons {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                align-content: space-around;
                width: 100%;
                height: 90px;
                max-height: 110px;
                align-items: center;
                
                #inputGroupFile {
                    display: none; 
                }

                .btn.disabled, .btn:disabled {
                    opacity: 1;
                    cursor: pointer; 
                }
            }

            .allSixSaveAndLoadButtons *, .fontSelector, .fontSelector * {
                background-color: $purpleClr;
                color: white;
                border: none;
                border-radius: 5px;
                width: 48%;
                height: 28%;
                margin-bottom: 0px;
                font: 18px/normal sans-serif; 
            }

            .allSixSaveAndLoadButtons * {
                display: flex;
                align-items: center;
                justify-content: center; 

                &:hover {
                    background-color: #381620; 
                }
                &:focus {
                    box-shadow: 0 0 0 0.2rem #572f3b; 
                }
            }

            .fontSelector, .fontSelector * {
                width: 100%;
                height: calc(85vh/20); 
            }
    
            .fontSelector.btn {
                padding: .6rem 1rem; 
            }

            input[type="color"] {
                opacity: 0; 
            }

            input:focus {
                outline: none; 
            }
    }

    .textCSS label {
        height: calc(85vh/15); 
    }
}

.asideLeft .h3, .asideRight .h3 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-size: 1.2rem;
  font-family: 'Goblin One', cursive;
  color: white; 
}

.main {
    grid-area: main;
    height: 85vh;
    width: 70vw;
    border-collapse: collapse;
    position: relative;
    border: 5px solid $purpleClr; 

    .list-group:not(.paintingsSaveList) {
        position: absolute; 
    }
      
    .list-group li {
        display: flex;
        justify-content: space-between;
        width: 300px;
        height: 45px; 

        &:hover {
            background-color: #0056b3;
            color: white;
            cursor: pointer; 
        }
    }

    .svgMain {
        width: 100%;
        height: 100%; 
    }
}

.loadContainer, .saveContainer {
    position: absolute;
    width: 50vw;
    margin-left: 25vw;
    margin-top: 25vh;
    padding: 50px;
    background-color: $purpleClr;

    h4 {
        color: white;
        font-size: 1.7rem; 
    }

    .btn {
        background-color: $purpleClr;
        border: 1px solid white;
        color: white; 
        margin-top: 1rem; 
    }

    input {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        font-size: 20px; 
    }

    .paintingsSaveList {
        max-height: 50vh;
        overflow: scroll; 

        .paintingNameAndDeleteButtonContainer {
            display: flex;
            flex-direction: row;
            background-color: white;
            border: 1px solid rgba(0, 0, 0, 0.125); 

            button {
                width: 15%; 
            }

            a.list-group-item {
                width: 80%; 
                border: none; 
            }
        }
    }
}

::selection {
    background: none; 
}

@media (max-height: 960px) {
    .asideRight .formProperties .inputsDiv input:not([type="color"]), .asideRight .formProperties label, .asideRight .formProperties .allSixSaveAndLoadButtons *, .asideRight .formProperties .fontSelector, .asideRight .formProperties .fontSelector * {
        font: 13px/normal sans-serif; 
    }

    .asideLeft div svg {
        width: 3.5em;
        height: 3.5em; 
    } 

    .loadContainer, .saveContainer {
        margin-top: 18vh; 
    }

    .asideRight .formProperties .inputsDiv .dropdown .dropdown-menu.fontSelector.display {
        height: 200px; 
    } 
}