body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    grid-area: h1;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 6rem;
}

.mesh {
    grid-area: image;
    position: relative;
    height: 400px;
    transition: all 0.5s;
    border-radius: 1rem;
}

.gallery {
    left: 0px;
    transition: all 0.5s;
    position: absolute;
    display: flex;
    filter: grayscale(1);
}

.gallery:hover {
    filter: none;
}

.gallery * {
    height: 500px;
    border-radius: 1rem;
}
