body ,html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: brown;
}

div {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 10rem);
    margin-left: calc(50vw - ((100vw - 10rem)/2));
}

div p {
    font-size: 3rem;
    margin: 1rem 0;
}

div textarea {
    width: calc(100vw - 10rem);
    height: calc(33.333333vh - 6rem);
    box-sizing: border-box;
    padding: 1rem;
    font-size: 3rem;
}
