body {
    display: flex;
    height: 100vh;
}

.container {
    left: calc(50% - 100px);
    width: 200px;
    height: 200px;
    align-self: center;
    position: relative;
    overflow: hidden;
  }
  
  .images {
      position: absolute;
      display: flex;
      width: 200px;
      height: 200px;
      transition: all 0.5s;
      right: 0px;
  }
  
  .images img {
      width: 200px;
      height: 200px;
  }
 




  .arrow-up {
    width: 0px; 
    height: 0px; 
    border-left: 20px solid blue;
    border-right: 20px solid green; 
    border-top: 20px solid red;
    border-bottom: 20px solid yellow;
  }
  
  .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-top: 60px solid #f00;
  }
  
  .arrow-right {
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    
    border-left: 60px solid green;
  }
  
  .arrow-left {
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent; 
    border-right:60px solid blue; 
  }