.box {
    display: flex;
}

.col {
    flex:1;
}

.box>.col:nth-child(1) {
    background-color: red;
}

.box>.col:nth-child(2) {
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}
