.box {
    display: flex;
    width: 100%;
}

.box>div:nth-child(1) {
    background-color: red;
    width: 200px;
}

.box>div:nth-child(2) {
    background-color: green;
    flex: 4;
}

.box>div:nth-child(3) {
    background-color: yellow;
    flex: 3;
}