html ,body {
    height: 100%;
}

.container {
    display: grid;
    height: 100%;
    background-color: beige;
    grid-template-columns: repeat (12,1fr);
    grid-template-rows: 40px ,1fr, 40px;
}

.header {
    background: red;
    grid-column: 1/span 12;
}

.footer {
    background-color: red;
    grid-column: 1/span 12
}

.sidebar {
    background-color: pink;
    grid-column: 1/span 4
}

.content {
    background-color: beige;
    grid-column: auto;
}

@media(max-width:600px) {
    .sidebar {
        order:1;
        grid-column: 1/ span 12;
    }
    .footer {
        background-color: yellow;
    }
}