.square {
    width: 500px;
    height: 500px;
    background-color: red;
    position: relative;
}

.circle {
    width: 250px;
    height: 250px;
    background: yellow;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 125px);
    top: calc(50% - 125px);
}

table {
    font-size: 25px;
    width: 500px;
    height: 500px;
}

em {
    font-size: 50px;
}