.thumbnail {
    height:20%;
    float: left;
    margin: 10px;
    border: 2px solid black;
}

.post {
    clear: both;
}

.nisui {
    display: flex;
    flex-direction: row;
}

.cat {
    flex: 8;
    order: 1;
}

.description1 {
    background-color: blue;
    flex: 4;
}

.description2 {
    background-color: yellow;
    flex: 2;
}

.description3 {
    background-color: red;
    flex: 1;
    order: 2;
}

.description4 {
    background-color: antiquewhite;
    flex: 1;
    order: 2;
}

@media(max-width:700px) {
    .nisui {
        flex-direction: column;
    }
}