*{
    margin: 5px auto;
}

body h1 {
    text-align: center;
    background: orange;
    padding: 8px;
    border: red solide 5px;;
}

form {
    width: 500px;
    margin: 20px auto;
    border: 2px solid blue;
    padding: 10px;
}

body>div:nth-of-type(1) {
    text-align: center;
    background: red;
}

.badge-light {
    background-color: #c8cacc;
}

 body>div:nth-child(3) {
     text-align: center;
}

#second-form {
    border: 5px solid red;
}

.uc {
    text-transform: uppercase;
}

[type="submit"]:hover {
    background: orange;
}

table {
    outline: 1px solide blue;
    width: 50%;
    text-transform: uppercase;
}

table td {
    text-align: center;
    padding: 50px;
    border: black solid;
    width: 50%;
}

table tr {
    background: #787b7d;
}

table tr:nth-child(2n+1) {
    background: #b3adad;
}

table td:before {
    content: '(';
    font-size: 30px;
    color:red;
}

table td:after {
    content: ')';
    font-size: 30px;
    color:red;
}

p {
    outline: 1px solid;
    padding: 15;
}

.myextra-padding {
    background: orange;
    font-size: 50px
}

.mysmall {
    font-size: 20px;
}

.mysidebar {
    background: yellow;
    font-size: 40px;
}

.badge {
    font-size: 100%;
    font-weight: 1000;
    line-height: 3;
}
